<a href="https://colab.research.google.com/github/LAKSHMIROHI/AI_ML_Avanthi_Rohitha/blob/main/30_1_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#half ascending half descending
n=[3,5,8,21,13,1,5,6,18,4]
num1=n[0:5]
num1.sort()
num2=n[5:10]
print(num1)
print(num2)
num1+=num2
print(num1)

[3, 5, 8, 13, 21]
[1, 5, 6, 18, 4]
[3, 5, 8, 13, 21, 1, 5, 6, 18, 4]

In [ ]:
#distinct values
n=[3,5,6,3,3,5,5,6,3,6,1]
x=set(n)
print(x)

{1, 3, 5, 6}

In [ ]:
#sum of even values in a list
x=[1,32,24,13,97,1,8,14,99,34,5,56,8,23]
sum=0
for i in x:
    if i%2==0:
     sum+=i
print(sum)

176

In [63]:
#even odd replace
x=[1,32,24,13,97,1,8,14,99,34,5,56,8,23]
for i in range(len(x)):
   if x[i]%2==0:
      for j in range(i+1,len(x)):
       if x[j]%2==1:
        x[i]=x[j]
        break
   else:
    for j in range(i+1,len(x)):
      if x[j]%2==0:
        x[i]=x[j]
        break
print(x)

[32, 13, 13, 8, 8, 8, 99, 99, 34, 5, 56, 23, 23, 23]

In [12]:
#create dict  `
my_dict={
    "Name":"candy",
    "Age":12,
    "Phone number":123456789,
    "Favourite food":"pedigree"
    }
print("original dictionary:",my_dict)

original dictionary: {'Name': 'candy', 'Age': 12, 'Phone number': 123456789, 'Favourite food': 'pedigree'}

In [65]:
#count the no.of times number repeat
x=[3,3,5,5,3,3,7,7,5,3,7,5]
dict={}
distinct=set(x)
for i in distinct:
  dict[i]=0
for i in range(len(x)):
     dict[x[i]]+=1
print(dict)

{3: 5, 5: 4, 7: 3}

In [64]:
#add and multiply  and add
x=[3,6,8,21,5,7,24,31,0,61]
new_list=[]
final=[]
for i in range(len(x)-1):
  new_list.append(x[i]+x[i+1])
for i in range(len(new_list)-1):
    final.append(new_list[i]*new_list[i+1])
    sum=0
for i in final:
    sum+=i
print(new_list)
print(final)
print(sum)

[9, 14, 29, 26, 12, 31, 55, 31, 61]
[126, 406, 754, 312, 372, 1705, 1705, 1891]
7271