<a href="https://colab.research.google.com/github/LAKSHMIROHI/AI_ML_Avanthi_Rohitha/blob/main/31_1_2024(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#functions
def chocolates():
  print("dairymilk")
  print("snickers")
  print("milkybar")
chocolates()
print("KitKat")

dairymilk
snickers
milkybar
KitKat

In [ ]:
#both a and b can be used
def number (a):
  if a>=5:
    print("Good")
  else:
    print("Bad")
b=5
number(b)
b=10
number(b)
b=1
number(b)

Good
Good
Bad

In [ ]:
#parameters
def number(a,b):
  print(a)
  print(b)
a=5
b=6
number(a,b)

5
6

In [ ]:
#write a function to calculate the grades of a student based on their marks
def grade():
   marks=int(input("enter the marks"))
   if marks>=90 and marks<=100:
      print("O")
   elif marks>=80 and marks<=89:
      print("A+")
   elif marks>=70 and marks<=79:
      print("B+")
   elif marks>=60 and marks<=69:
      print("C+")
   elif marks>=50 and marks<=59:
      print("D+")
   else:
      print("fail ")
for i in range(10):
  grade()

O
fail
D+
B+
A+

In [1]:
#1,2,3..... Numbers printing
count = 1
for i in range(1,5):
  for j in range(i):
    print(count, end=" ")
    count += 1
  print()

1
2 3
4 5 6
7 8 9 10

In [2]:
for i in range(4):
    for j in range(4):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [3]:
x = int(input("Enter a number"))
for i in range(x):
    for j in range(x):
        if i == 0 or i == x-1 or j == 0 or j == x-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter a number2
* *
* *

In [5]:
rows = 4

for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")

    for k in range(2 * i + 1):
        print("*", end="")
    print()

   *
  ***
 *****
*******

In [4]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [ ]:
#star sums.....4,3,2,1...
for i in range(4,0,-1):
  for j in range(i):
    print("*",end="*")
  print("\n")

********

******

****

**